<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Marketo Email Performance Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Marketo Email Performance Forecast</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      
       
        <label for="Area">Select marketing area:</label>
        <select name="Area" id="Area"> 
        <option value="ANZ">ANZ</option>
        </select>
        <br>

    <script>    
var subjectObject = {
  "Data and AI": {
    "Innovate with AI": [],
    "Win with Analytics": []
    
      },
 "Infrastructure": {
    "Azure Migration and Modernization": [],
    "Azure Hybrid and Infrastructure": [],
    "Migrate Windows and SQL Server": [],
    "Modernize VDI to Azure Virtual Desktop": []
  }
}
window.onload = function() {
  var solutionareaSel = document.getElementById("solutionarea");
  var playSel = document.getElementById("play");
 
  for (var x in subjectObject) {
    solutionareaSel.options[solutionareaSel.options.length] = new Option(x, x);
  }
  solutionareaSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    playSel.length = 1;
   
    //display correct values
    for (var y in subjectObject[this.value]) {
      playSel.options[playSel.options.length] = new Option(y, y);
    }
  }

}
</script>
</head>   
<body>



<form name="form1" id="form1" action="/action_page.php">
Solution Area: <select name="solutionarea" id="solutionarea">
    <option value="" selected="selected">Select subject</option>
  </select>
  <br>
Play: <select name="play" id="play">
    <option value="" selected="selected">Please select subject first</option>
  </select>
  <br><br>

<label for="countemail">Enter # of emails to be deployed:</label>  <input type="text" name="Sent" placeholder="# of emails planned for deployment" required="required" /><br>

  
        <br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>
